{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p><a href="http://www.ispeech.org" rel="external noreferrer">iSpeech</a> is
  an online speech platform that offers a text-to-speech API among its
  offerings. Because it is online, iSpeech can be used on any operating
  system. iSpeech requires users to purchase an API key by visiting the
  iSpeech website and then entering that API key into AwesomeTTS.</p>

<p>
  iSpeech supports
  <a href="http://www.ispeech.org/api#49630ddd8394f977050dbc53df0f73c6a1fd9d0d"
     rel="external noreferrer">many different voice options</a>,
  including multiple dialects and speakers of popular languages. Additionally,
  AwesomeTTS makes available the <em>speed</em> and <em>pitch</em> options
  available from the API.
</p>

{{> below}}
