{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<figure style="width: 608px">
    <img src="/services.pico2wave.png" width="608" height="426"
      alt="AwesomeTTS note editor dialog w/ the SVOX Pico service activated">

    <figcaption>&ldquo;Add TTS Audio to Note&rdquo; dialog with the SVOX Pico
      service activated</figcaption>
</figure>

<p>SVOX Pico is a small-footprint text-to-speech engine distributed with the
  Android operating system, but it can also be run on Linux and other POSIX
  systems.</p>

<p>Supported languages include:</p>

<ul>
    <li>English (British, American)</li>
    <li>French</li>
    <li>German</li>
    <li>Italian</li>
    <li>Spanish</li>
</ul>

<h2>Requirements</h2>

<p>AwesomeTTS must be able to find the <code>pico2wave</code> binary (or,
  alternatively, the same binary under the name <code>lt-pico2wave</code>) in
  your system <code>$PATH</code>.</p>

<p>Some Linux distributions have packages available for SVOX Pico. Debian and
  Ubuntu users can install it via the <kbd>libttspico-utils</kbd> package, and
  Arch Linux users can find it on the AUR under <kbd>svox-pico-git</kbd>.</p>

{{> below}}
