{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p>The Speech Synthesis Manager, sometimes known as Say (after the
  <code>say</code> command-line tool), is a built-in interface in
  Apple&rsquo;s Mac OS X operating system to allow desktop programs like
  AwesomeTTS access to voices for text-to-speech playback.</p>

<p>While Mac OS X comes built-in with the ability to use the Speech Synthesis
  Manager, it usually only ships with one or a small handful of voices. You
  can make additional voices available in the Speech Synthesis Manager by
  downloading alternate voices in OS X&rsquo;s System Preferences. Supported
  languages include:</p>

<ul class="cols">
  <li>Arabic</li>
  <li>Chinese</li>
  <li>Czech</li>
  <li>Danish</li>
  <li>Dutch</li>
  <li>English</li>
  <li>Finnish</li>
  <li>French</li>
  <li>German</li>
  <li>Greek</li>
  <li>Hindi</li>
  <li>Hungarian</li>
  <li>Indonesian</li>
  <li>Italian</li>
  <li>Japanese</li>
  <li>Korean</li>
  <li>Norwegian</li>
  <li>Polish</li>
  <li>Portuguese</li>
  <li>Romanian</li>
  <li>Russian</li>
  <li>Slovak</li>
  <li>Spanish</li>
  <li>Swedish</li>
  <li>Thai</li>
  <li>Turkish</li>
</ul>

<figure style="width: 608px">
    <img src="/services.say.png" width="608" height="426"
      alt="AwesomeTTS note editor dialog with the OS X Say service activated">

    <figcaption>&ldquo;Add TTS Audio to Note&rdquo; dialog with the OS X
      Speech Synthesis service activated</figcaption>
</figure>

<p>Some additional regional dialects of some languages (Chinese, English,
  French, Portuguese, Spanish) are also available.</p>

<p>Additional voices are also available from third-party vendors.</p>

<h2>Options</h2>

<p>When using the Speech Synthesis Manager, only the <strong>Speed</strong> of
  the voice is available for adjustment.</p>

{{> below}}
