{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<figure style="width: 408px">
    <img src="/config.png" width="408" height="337"
      alt="Tools menu in the Anki main menu with the AwesomeTTS item hovered">

    <figcaption>AwesomeTTS in Anki&rsquo;s &ldquo;Tools&rdquo;
      menu</figcaption>
</figure>

<p>Whether you want to play audio on-the-fly or store MP3s with your
  collection, AwesomeTTS can be configured in various ways to suit different
  users.</p>

<p>To reach the configuration screen, go to the main window in Anki, open the
  <kbd>Tools</kbd> menu, and select <kbd>AwesomeTTS</kbd>. By default, the
  configuration screen can also be quickly reached using <kbd>Ctrl+T</kbd>
  (or <kbd>Cmd+T</kbd> on Mac OS X) whenever the main window is open.</p>

<p>Please note that unlike most Anki preferences, as of the current version of
  AwesomeTTS, your configuration is local to the computer you install it on
  and it applies to all of your decks. Any settings you make will not be
  synchronized between different computers and there is currently no way to
  apply different settings to different decks.</p>

{{> below}}
