{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p>A wide range of people with different needs working with different
  environments use AwesomeTTS. As such, there are always new features and bugs
  that can crop up, and you can help AwesomeTTS&rsquo;s development by
  reporting problems, making suggestions, writing code, testing new versions,
  and rating the add-on.</p>

<h2>Reporting Bugs and Suggesting New Features</h2>

<p>Users can report problems with the add-on and suggest new features by
  opening a thread on <a href="https://anki.tenderapp.com/discussions/add-ons"
  rel="external">Anki&rsquo;s add-on support forum</a>. Registration is
  optional.</p>

<h2>Submitting Code and Pull Requests</h2>

<p>Ongoing development happens on <a href="https://github.com/AwesomeTTS"
  rel="external">AwesomeTTS&rsquo;s GitHub organization</a>. Interested
  developers can download or clone the source code, make changes, and submit
  pull requests there.</p>

<h2>Support the Projects on which AwesomeTTS Depends</h2>

<p>Both Anki and many of the backend text-to-speech services that AwesomeTTS
  integrates with are themselves free and open-source projects, often carried
  out by volunteers. Depending on the specific project, you can help by
  reporting problems, fixing bugs, and donating.</p>

{{> below}}
