{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p><strong>AwesomeTTS only supports Anki 2.0.x. The add-on will not work with
the newer Anki 2.1.x.</strong></p>

<hr>

<p>AwesomeTTS makes it easy for language-learners and other students to add
  speech to their personal <a href="http://ankisrs.net" rel="external">Anki</a>
  card decks. AwesomeTTS supports both on-demand playback and synchronizing
  audio files with your card deck, making it flexible enough for different
  needs.</p>

<p>Both Anki and AwesomeTTS are free and open-source software. You can study
  the source code, make changes, and contribute back to the community.</p>

{{> below}}
