{{!
  ! AwesomeTTS text-to-speech add-on website
  ! Copyright (C) 2014-Present  Anki AwesomeTTS Development Team
  !
  ! This program is free software: you can redistribute it and/or modify
  ! it under the terms of the GNU Affero General Public License as
  ! published by the Free Software Foundation, either version 3 of the
  ! License, or (at your option) any later version.
  !
  ! This program is distributed in the hope that it will be useful,
  ! but WITHOUT ANY WARRANTY; without even the implied warranty of
  ! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ! GNU Affero General Public License for more details.
  !
  ! You should have received a copy of the GNU Affero General Public License
  ! along with this program.  If not, see <http://www.gnu.org/licenses/>.
  !}}

{{> above}}

<p>Getting AwesomeTTS installed is quick and easy.</p>

<h2>Prerequisites</h2>

<p><strong>AwesomeTTS only supports Anki 2.0.x. The add-on will not work with
the newer Anki 2.1.x.</strong></p>

<p>As an add-on, AwesomeTTS cannot be run on its own. If you have not already
  done so, please visit the <a href="http://ankisrs.net" rel="external">Anki
  website</a> to download an installation package for your computer.</p>

<h3>Linux Users</h3>

<p>If you are a Linux user, you can probably obtain Anki from your package
  manager, but you might need to check that you have all needed dependencies
  installed.</p>

<p>For audio playback, both Anki and AwesomeTTS depend on <a rel="external"
  href="http://www.mplayerhq.hu">MPlayer</a> (or software with an MPlayer-like
  interface), which can be obtained on most distributions by installing the
  <kbd>mplayer</kbd> or <kbd>mplayer2</kbd> package.</p>

<p>Additionally, AwesomeTTS converts some services&rsquo; raw output to MP3s
  using the <a href="http://lame.sourceforge.net" rel="external">LAME MP3
  Encoder</a>, which can be similarly obtained on most distributions with the
  <kbd>lame</kbd> package.</p>

<h2>Getting the Current Release</h2>

<div class="grid">
    <figure style="width: 493px">
        <img src="/install.tools-menu.png" width="493" height="242"
          alt="Tools menu showing an &ldquo;Add-ons&rdquo; submenu">

        <figcaption>Anki&rsquo;s &ldquo;Tools&rdquo; menu</figcaption>
    </figure>

    <figure style="width: 493px">
        <img src="/install.anki-dialog.png" width="493" height="242"
          alt="Dialog box showing 301952613 in its &ldquo;Code&rdquo; field">

        <figcaption>Anki&rsquo;s &ldquo;Install Add-on&rdquo;
          dialog</figcaption>
    </figure>
</div>

<p>The current release of the add-on can be downloaded directly from within
  Anki. From Anki&rsquo;s main window&hellip;</p>

<ol>
    <li>go to the <kbd>Tools</kbd> menu</li>
    <li>open the <kbd>Add-ons</kbd> submenu</li>
    <li>select <kbd>Browse &amp; Install&hellip;</kbd></li>
    <li>enter <kbd>301952613</kbd> as the code and hit <kbd>OK</kbd></li>
    <li>once downloaded, restart Anki to enable the add-on</li>
</ol>

{{> below}}
